.aside {
    padding: 80px 0px;
    font-size: 20px;
    color: black;
    border-bottom: 2px black solid;
}

.aside__header {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    padding: 10px 20px;
    background-color: #7fd25c;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    margin: 30px auto;
    box-shadow: 0px 0px 17px 10px rgba(127, 210, 92, 0.60);
}

.aside__list {
    list-style-type: none;
    padding: 20px 50px;
}

.aside__item {
    margin: 15px;
}

.aside__link {
    text-decoration: none;
    color: black;
}

.aside__link:hover {
    text-decoration: underline;
}

.aside__link:active {
    text-decoration: none;
    font-weight: 700;
}