.navigation {
    padding: 10px;
    font-size: 20px;
}

.navigation__list {
    list-style-type: none;
    padding-left: 10px;
}

.navigation__item {
    margin-top: 15px;
}

.navigation__link {
    text-decoration: none;
    color: black;
}

.navigation__link:hover {
    text-decoration: underline;
}

.navigation__link:active {
    text-decoration: none;
    font-weight: 700;
}